<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PunterEdge-20160908051149.mdf;Initial Catalog=aspnet-PunterEdge-20160908051149;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="PuntersEdgeDB1ConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Guest2\Documents\Visual Studio 2015\Projects\PunterEdge\PuntersEdgeDB1.mdb&quot;"
      providerName="System.Data.OleDb"/>
    <add name="ChatSource"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Guest2\Documents\Visual Studio 2015\Projects\PunterEdge\PuntersEdgeDB1.mdb&quot;"
      providerName="System.Data.OleDb"/>
    <add name="PuntersEdgeDB"
      connectionString="Data Source=puntersedge.cwkrdlzu80l5.us-east-1.rds.amazonaws.com;Initial Catalog=PuntersEdge;User ID=PuntersEdge88;Password=portsmouth1"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseExpires"
         httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
    </staticContent>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.net>
   <mailSettings>
     <smtp from="alexjlawrence88@gmail.com">
       <network host="smtp.gmail.com" port="587" userName="alexjlawrence88@gmail.com" password="Qaz??///" defaultCredentials="true" />
     </smtp>
   </mailSettings>
</system.net>
  <system.web>

    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
    <trust level="Full"/>
    <customErrors mode="Off"/>
    <httpModules>
      <add name="DatabseActions" type="DatabseActions"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/> 
      <add name="ScriptModule"
        type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
    
    </defaultDocument>
      <httpErrors errorMode="Detailed"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.codedom>
   
  </system.codedom>
</configuration>